body{
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.perfil {
    text-align: center;
    font-weight: bold;
}

.conta {
    background: linear-gradient(to bottom, #FF624A, #FF2E6E);
    text-align: center;
}

#fotoPerfil {
    height: 77px;
    width: auto;
    border-radius: 50%;
    padding-top: 5px;
    margin: 0px;
}

.nome{
    color: #FFFFFF;
    font-weight: bold;
    margin: 0px;
    font-size: 18px;
}

.email{
    font-size: 14px;
    color: rgb(182, 178, 178);
}

.informacoes{
    font-size: 14px;
    color: #FFFFFF;
}

.escola{
    font-size: 14px;
    color: #FFFFFF;
    margin: 0px;
    padding-bottom: 10px ;
}

.espacamento{
    background-color: rgb(238, 237, 237);
    width: 100%;
    height: 25px;
}

#funcionalidades{
    background-color: #F5F7FA;
    height: 500px;
}



.opcoes{
    padding-left: 10px;
    color: #99A0AC;
}

.icone1{
    height: 60px;
    width: auto;
}


.funcionalidade{
    display: flex;
    margin-bottom: 2px;
    background-color: #FFFFFF;
    height: 50px;
    width: 100%; 
}

.versao{
    text-align: center;
    font-size: 10px;
    color: #99a0ac;
    margin: 5px;
}

.footer {
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
    width: 100%;
}







